/* Var*/

:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #232830;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
}

/* General */
* {
  font-size: 62.5%;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}
a {
  font-size: 1.5rem;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

/* Navbar (General)*/

nav {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: space-around;
  border-bottom: 1px solid var(--very-light-pink);
  padding: 0 0rem;
}

.menu {
  display: none;
}

.logo {
  width: 10rem;
}

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 6rem;
}

.navbar-left {
  display: flex;
}

.navbar-left ul {
  margin-left: 1.2rem;
}

.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  border-bottom: 1px solid var(--white);
  padding: 0.8rem;
  border-radius: 0.8rem;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
}

.navbar-email {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-right: 1.2rem;
  cursor: pointer;
}

.navbar-shopping-cart {
  position: relative;
  cursor: pointer;
}
.navbar-shopping-cart div {
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;

  right: 0;
}

/* Desktop Menu */
.desktop-menu {
  width: 10rem;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 0.6rem;
  padding: 2rem 2rem 0 2rem;
  position: absolute;
  background-color: var(--white);
  top: 6rem;
  right: 20rem;
}

.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop-menu ul li {
  text-decoration: none;
  text-align: end;
}

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
  font-weight: 700;
}

.desktop-menu ul li:last-child {
  padding: 2rem 0 0 0;
  border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li a {
  font-size: var(--md);
  color: var(--black);
  text-decoration: none;
  margin-bottom: 2rem;
  /* A los elementos inline no se les puede aplicar margin */
  display: inline-block;
}

.desktop-menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}

/* Mobile menu */

.mobile-menu {
  height: 100%;
  position: absolute;
  top: 6rem;
  background-color: var(--white);
  left: 0;
  width: 100%;
}

.account-info {
  height: 100%;
}

.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  font-size: var(--md);

  /* margin-bottom: 2.4rem; */
}

.mobile-menu ul {
  padding: 0;
  margin: 2.4rem 0;
  list-style: none;
}

.mobile-menu .access-links ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul li {
  margin-bottom: 2.4rem;
}

.mobile-menu .email {
  font-size: var(--sm);
  font-weight: 300;
}

.mobile-menu .sing-out {
  color: var(--hospital-green);
  font-size: var(--sm);
}

/* Shopping_cart */

#shopping-cart-container {
  padding: 0 2.4rem 2.4rem 2.4rem;
  z-index: 10;
}

.primary-button {
  background-color: var(--hospital-green);
  border-radius: 0.8rem;
  border: none;
  color: var(--white);
  width: 100%;
  font-weight: bold;
  height: 5rem;
  font-size: var(--md);
}

.title {
  font-size: var(--lg);
  font-weight: bold;
}

.title-container {
  display: flex;
}

.title-container img {
  transform: rotate(180deg);
  margin-right: 1.4rem;
}

.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.6rem;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 2.4rem;
  border-radius: 0.8rem;
  padding: 0 2.4rem;
}

.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.order p:nth-child(2) {
  text-align: end;
  font-weight: 700;
  font-size: var(--md);
}

.order span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}

.shopping-card {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
  align-items: center;
}

.shopping-card figure {
  margin: 0;
}

.shopping-card p:nth-child(2) {
  color: var(--very-light-pink);
}

.shopping-card p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}

.shopping-card figure img {
  width: 7rem;
  height: 7rem;
  border-radius: 2rem;
  object-fit: cover;
}

.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

aside {
  width: 36rem;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  border: 1px solid var(--very-light-pink);
  border-radius: 4%;
  background-color: var(--white);
}

@media (max-width: 640px) {
  aside {
    width: 100%;
  }
}

/* principal */

.cards-container {
  display: grid;
  /* repeat puede hacer lo mismo que poner 1fr 1fr, dentro de repeat 
      se colocan dos parametros, el primero es la cantidad de columnas y el segundo es el
      size de columnas, por ejemplo 2, 1fr (dos veces una fraccion = 1fr 1fr)*/
  gap: 3rem 3rem;
  place-content: center;
  margin-top: 3rem;

  /* Autofill hace que las que alcancen pues, lo otro es el size */
  grid-template-columns: repeat(auto-fill, 24rem);
}

.product-card {
  width: 24rem;
}

.product-card img {
  width: 24rem;
  height: 24rem;
  border-radius: 2rem;

  /* Esta propiedad hace que la imagen intente mostrar todo su size independientemente
      del width o height asignado por el desarrollador */
  object-fit: cover;
}

.product-card .product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.2rem;
}

.product-card .product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin: 0 0 0.4rem 0;
}

.product-card .product-info div p:nth-child(2) {
  font-size: var(--sm);
  color: var(--very-light-pink);
}

.product-card .product-info figure {
  margin: 0;
}

.product-card .product-info figure img {
  width: 3.5rem;
  height: 3.5rem;
}

/* This comes from #product-detail aside  */

.product-detail-close {
  background-color: var(--white);
  position: absolute;
  top: 2.4rem;
  left: 2.4rem;
  z-index: 2;
  padding: 1.2rem;
  border-radius: 50%;
}

.product-detail-close:hover {
  cursor: pointer;
}

#product-detail img:nth-child(2) {
  width: 100%;
  height: 36rem;
  object-fit: cover;
  border-radius: 1.6rem 1.6rem 2rem 2rem;
}

#product-detail .product-info {
  margin: 2.4rem 2.4rem 0 2.4rem;
}

#product-detail .product-info p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 0.4rem;
}

#product-detail .product-info p:nth-child(2) {
  color: var(--very-light-pink);
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 3.6rem;
}

#product-detail .product-info p:nth-child(3) {
  font-size: var(--sm);
  margin-bottom: 0;
  margin-bottom: 3.6rem;
}

.inactive {
  display: none;
}

/* Media queries */

@media (max-width: 640px) {
  #product-detail {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .menu {
    display: block;
  }

  .navbar-left ul {
    display: none;
  }

  .navbar-email {
    display: none;
  }

  .desktop-menu {
    display: none;
  }
}

@media (min-width: 641px) {
  .mobile-menu {
    display: none;
  }
}

@media (max-width: 640px) {
  .cards-container {
    grid-template-columns: repeat(auto-fill, 14rem);
  }

  .product-card {
    width: 14rem;
  }

  .product-card img {
    width: 14rem;
    height: 14rem;
  }
}
